/* Base styles for the splash screen */
.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.splash-screen.hide {
  opacity: 0;
}

/* Styles for the icon */
.icon {
  width: 100px;
  height: 100px;
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 2.5s infinite;  
  overflow: hidden
}

.icon:hover {
  color: white;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    color: black;
    transform: scale(1.1);
  }
  50% {
    color: white;
    transform: scale(2);
  }
  100% {
    color: black;
    transform: scale(1.1); 
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .splash-screen {
    justify-content: flex-start;
    padding-top: 30px;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }
}
